{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "./transformers/react-native-platform-specific-incremental-extensions.js",
      {
        "extensions": ["scss"]
      }
    ]
  ]
}
