.sign-in__container {
  flex: 1;
  justify-content: center;
  padding: 0 50px 20px;
}

.sign-in__input {
  text-align: center;
}

.sign-in__input-container {
  margin: 15px 0;
}

.sign-in__btn {
  margin: 15px 0;
}
